<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
<div class="status-bar">
    <span>CARRIER</span>
    <span>12:00 PM</span>
    <span>100%</span>
</div>

<div class="nav-tabs">
    <a href="index.html">
        <button class="nav-tab">Home</button>
    </a>
    <button class="nav-tab">Deals</button>
    <button class="nav-tab">Manage Booking</button>
    <a href="about-us.html">
        <button class="nav-tab">About us</button>
    </a>
    <button class="btn logo"><i class="material-icons">close</i></button>
</div>

<div>

    <h1 class="title2">About Us</h1>
</div>
<div class="image2">X</div>
<p class="text2"> Hdud hgasdiags huihd huIdd bsaih<br>
    eofdh busdhi hsjadgi wugd jsaidoh<br>
    hfuaf hfeoihfo hfbaduihfu ihfoiadehf</p>

<h1 class="title2">Food and Drink</h1>
<div class="container">
    <div class="box2">
        <div class="image">X</div>
        <div>
            <p class="text">Hdud hgasdiags huihd huldd bsaih eofdh busdhi hsjadgi wugd</p>

        </div>

    </div>
    <p class="text2"> Hdud hgasdiags huihd huIdd bsaih<br>
        eofdh busdhi hsjadgi wugd jsaidoh<br>
        hfuaf hfeoihfo hfbaduihfu ihfoiadehf</p>
</div>

<div>

    <h1 class="title2">Our Rooms</h1>
</div>
<div class="image2">X</div>

<br>
<p class="text2"> Hdud hgasdiags huihd huIdd bsaih<br>
    eofdh busdhi hsjadgi wugd jsaidoh<br>
    hfuaf hfeoihfo hfbaduihfu ihfoiadehf</p>

<h1 class="title2"> Our Locations</h1>
<p class="text">List of Locations:</p>
<div class="nav-tab2">
    <button>Click to Scroll</button>
</div>
<p class="text2"> Hdud hgasdiags huihd huIdd bsaih<br>
    eofdh busdhi hsjadgi wugd jsaidoh<br>
    hfuaf hfeoihfo hfbaduihfu ihfoiadehf</p>
</body>