<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
<div class="status-bar">
    <span>CARRIER</span>
    <span>12:00 PM</span>
    <span>100%</span>
</div>

<div class="nav-tabs">
    <a href="index.html">
        <button class="nav-tab">Home</button>
    </a>
    <button class="nav-tab">Deals</button>
    <button class="nav-tab">Manage Booking</button>
    <a href="about-us.html">
        <button class="nav-tab">About us</button>
    </a>
    <button class="btn logo"><i class="material-icons">close</i></button>
</div>

<div class="listing">
    <div class="top">
        <p>Name</p>
        <p>Price</p>
    </div>
    <div class="gallery">
        <span class="nav-left">&lt;</span>
        <div class="photo-gallery">X</div>
        <span class="nav-right">&gt;</span>
    </div>
    <p class="description">d hgselajgs huihd huibd bsaih eofbh dhi hjajdgi wsgd jsidoh hfuaf hfeoihfo bfbauutfu
        ihfoasdhsf</p>
    <a href="#">Reviews ></a>
</div>

<h1 class="text2">Map</h1>
<div class="map-photo">X</div>

<div class="container">
    <div class="top">
        <span>Bed & Breakfast</span>
        <a href="Confirmation.html">
            <button>Button</button>
        </a>
    </div>
    <div class="top">
        <span>All Inclusive</span>
        <a href="Confirmation.html">
            <button>Button</button>
        </a>

    </div>
</div>

<h2 class="text">Book Now</h2>