<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Home</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<div class="status-bar">
    <span>CARRIER</span>
    <span>12:00 PM</span>
    <span>100%</span>
</div>

<div class="nav-tabs">
    <a href="index.html">
        <button class="nav-tab">Home</button>
    </a>
    <button class="nav-tab">Deals</button>
    <button class="nav-tab">Manage Booking</button>
    <a href="about-us.html">
        <button class="nav-tab">About us</button>
    </a>
    <button class="btn logo"><i class="material-icons">close</i></button>
</div>

<h1 class="text">Enter Details</h1>
<hr>
<div class="container">
    <div class="input-group">
        <label>
            <input placeholder="Enter your name" type="text">
        </label>
    </div>
    <div class="input-group">
        <label>
            <input placeholder="Enter your address" type="text">
        </label>
    </div>
    <div class="input-group">
        <label>
            <input placeholder="Enter your Email address" type="text">
        </label>
    </div>
    <div class="input-group">
        <label>
            <input placeholder="Enter your Mobile Number" type="number">
        </label>
    </div>
</div>
<button class="continue-button">Continue</button>

